.AllCinemas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.cinemasCard {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 270px;
    border-radius: 8px;
    box-shadow: 0 2px 2px;
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
}
.cinemasCard:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 12px;
}

.cinemaMovieImg {
    width: 25%;
    height:25% ;
}

.listCinemas {
    list-style-type: none;
}