.AllCinemas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.cinemasCard {
  display: flex;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 2px;
  overflow: hidden;
  margin: 20px;
  transition: all 0.25s;
}
.cinemasCard:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 12px;
}

.moviesCinemaCard {
  margin-top: 45px;
  background-color: aquamarine;
  text-align: center;
  translate: -10%;
}

.listCinemas {
  font-size: 15px;
  list-style-type: none;
}
